<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>DRIVER={SQL Server};SERVER=ANALYTICSPROD;database=DataScience;trusted_connection=true;</connectionStrings>
    <paths>
        <modelPath>model_archives/</modelPath>
        <logPath>tmp/</logPath>
    </paths>
    <server>
        <hostName>localhost</hostName>
        <portNum>8087</portNum>
    </server>
</configuration>