<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <dataScience>DRIVER={SQL Server};SERVER=BazookaStaging;database=DataScience;trusted_connection=true;</dataScience>
        <bazookaRepl>DRIVER={SQL Server};SERVER=BazookaStaging;DATABASE=Bazooka;trusted_connection=true</bazookaRepl>
        <bazookaAnalytics>DRIVER={SQL Server};SERVER=BazookaStaging;DATABASE=Bazooka;trusted_connection=true</bazookaAnalytics>
    </connectionStrings>
    <paths>
        <modelPath>model_archives/</modelPath>
        <logPath>tmp/</logPath>
        <carrierDataPath>data/</carrierDataPath>
    </paths>
    <server>
        <hostName>localhost</hostName>
        <portNum>8087</portNum>
    </server>
</configuration>